body {
    min-width: 320px;
}

.site-wrapper {
    min-width: 320px;
}

p {
    text-align: justify;
}

.site-nav {
    z-index: 50;
}

.social-media-links {
    z-index: 50;
    display: flex;
}

.social-media-links>a {
    text-decoration: none;
    color: #fff;
    font-size: 2em;
    margin-right: 4px;
    margin-left: 4px;
    transform: none;
}

.site-header-content .social-media-links>a {
    opacity: 1;
}

.site-footer.outer {
    min-width: 320px;
}

.footer-nav .social-media-links>a {
    opacity: 0.9;
}

.social-media-links>a:hover {
    transform: scale(1.2);
}

.site-title {
    font-size: 5rem;
    font-weight: 700;
}

.site-nav {
    font-size: 1.5rem;
    flex-wrap: wrap;
    height: auto !important;
}

.search-query {
    color: black;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 4px 17px 4px 5px;
    line-height: 18px;
}

.search-wrapper {
    display: flex;
    align-items: center;
}

.search-wrapper .search-button {
    border: 1px solid #fff;
    border-radius: 5px;
    width: 26px;
    text-align: center;
    line-height: 26px;
    margin-left: 6px;
}

.search-wrapper .cancel-search {
    position: absolute;
    color: #de0000;
    margin-left: 177px;
    visibility: hidden;
}

.visible {
    visibility: visible !important;
}

.search-wrapper .search-button:hover, .search-wrapper .cancel-search:hover {
    cursor: pointer;
}

.search-wrapper .speech-bubble {
    background: #f31717;
    width: 228px !important;
    margin-top: 37px;
    line-height: 27px;
}

.search-wrapper .speech-bubble:after {
    border-bottom-color: #f31717;
    margin-top: -8px;
    border-width: 11px;
    margin-left: -99px;
}

.site-nav, .site-nav-left {
    overflow-y: visible !important;
    padding-bottom: 0px;
}

.vertical-line {
    border-right: #fff 1px solid;
}

.language-menu {
    width: 100%;
    z-index: 50;
    display: flex;
    justify-content: flex-end;
    position: relative;
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.5rem;
}

.language-menu a {
    margin-left: 18px;
    text-align: center;
    width: 100px;
    border: 1px solid #fff;
    border-radius: 5px;
    text-transform: uppercase;
    padding: 0px 12px;
    color: inherit;
    opacity: 1;
    text-decoration: none;
}

.language-menu a:hover, .current-language {
    background-color: #fff;
    color: #000 !important;
}


.current-language::before {
    content: '\2714';
    position: absolute;
    width: 26px;
    height: 26px;
    margin-top: -0.8px;
    margin-left: -30px;
    color: #fff;
    font-size: 19px;
    background-color: #4da514;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}

.short-date {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3rem;
    letter-spacing: 0.01rem;
    padding-left: 8px;
    margin-left: 8px;
    border-left: #4e3f3a 1px solid;
    color: #4e3f3a;
    text-transform: uppercase;
}

.post-card-author a {
    color: black !important;
}

.post-card-author {
    text-transform: none !important;
}

.full-date {
    font-style: italic;
    font-size: 1.65rem !important;
}

.single-post-card-header {
    position: relative;
    display: block;
    padding: 25px 25px 0;
    color: #15171a;
}

.single-post-card-header>* {
    text-align: center;
}

.footer-nav .social-media-links {
    height: 33px;
}

.site-footer-content {
    justify-content: space-around !important;
}

.post-card-tags {
    margin-bottom: 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.post-card-tags a {
    text-decoration: none;
    color: #337ab7;
    display: inline-block;
    line-height: 27px;
    text-transform: lowercase;
    padding-left: 1em;
    padding-right: 1em;
    margin: 4px 3px 0;
    border-radius: .2em;
    background-color: #d7e0e0;
    -webkit-transition: background-color .4s ease, color .4s ease;
    -moz-transition: background-color .4s ease, color .4s ease;
    -o-transition: background-color .4s ease, color .4s ease;
    -ms-transition: background-color .4s ease, color .4s ease;
    transition: background-color .4s ease, color .4s ease;
}

.category-page-link::before, .post-card-tags a::before {
    content: '#';
    font-weight: 700;
    font-size: 125%;
    margin-right: .5em;
    vertical-align: bottom;
    color: #1c2933;
    -webkit-transition: color .4s ease;
    -moz-transition: color .4s ease;
    -o-transition: color .4s ease;
    -ms-transition: color .4s ease;
    transition: color .4s ease;
}

.post-card-tags a:hover {
    background-color: #265b89;
    color: #fff;
}

.category-page-link:hover::before, .post-card-tags a:hover:before {
    color: #edf1f2;
}

.category-page-link {
    font-family: sans-serif;
    margin: 10px 8px;
    padding: 8px 10px;
    color: #337ab7;
    background-color: #d7e0e0;
    border-radius: 5px;
    text-decoration: none;
    text-transform: lowercase;
    display: block;
    -webkit-transition: background-color .4s ease, color .4s ease;
    -moz-transition: background-color .4s ease, color .4s ease;
    -o-transition: background-color .4s ease, color .4s ease;
    -ms-transition: background-color .4s ease, color .4s ease;
    transition: background-color .4s ease, color .4s ease;
}

.category-page-link:hover {
    text-decoration: none;
    background-color: #265b89;
    color: #fff;
}

.progress-bar-container {
    width: 100%;
    height: 50px !important;
    z-index: 10;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1em 2em;
    visibility: hidden;
    opacity: 0;
    position: fixed;
    background-color: #fff;
    font-family: LatoWeb, Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 112.5%;
    -webkit-transition: opacity 600ms, visibility 600ms;
    transition: opacity 600ms, visibility 600ms;
}

.progress-bar-container.stuck {
    top: 0;
    visibility: visible;
    opacity: 1;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
}

.progress-bar {
    width: 0%;
    height: 100% !important;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    display: block;
    position: absolute;
    background-color: #edf1f2;
}

.progress-bar-title {
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    padding-left: 28px;
    padding-right: 28px;
    width: calc(100% - 340px);
}

.progress-bar-link {
    height: inherit;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #2a3e51;
    font-weight: 700;
    margin-left: 6px;
    margin-right: 6px;
    min-width: 106px;
}

.progress-bar-link:hover {
    text-decoration: none;
}

.progress-bar-link img {
    height: inherit;
    margin-right: 0.5em;
}

.social-share {
    text-align: center;
    margin: 2.2em 0;
}

.social-share .social-share-link {
    margin: 0.85rem 0.85rem 0;
    font-size: 3em;
}

.social-share-bar {
    min-width: 130px;
    height: inherit;
    display: flex;
    align-items: center;
}

.social-share-bar .social-share-link {
    margin-right: 0.85rem;
    font-size: 1.5em;
}

.social-share-link {
    display: inline-block;
    opacity: 0.7;
}

.social-share-link:hover {
    opacity: 1;
}

.social-share-link.twitter {
    color: #55acee;
}

.social-share-link.facebook {
    color: #3b5998;
}

.social-share-link.linkedin {
    color: #0077b5;
}

.social-share-link.copy {
    color: #cc2009;
}

.social-share-link.copy:hover {
    cursor: pointer;
    opacity: 1;
}

.social-share .social-share-link.copy {
    font-size: 2.65em;
}

.social-share-bar .social-share-link.copy {
    font-size: 1.3em;
    margin-top: 4px;
}

.speech-bubble {
    position: absolute;
    background: #191919;
    color: #fff;
    border-radius: 6px;
    width: 56px !important;
    font-size: 12px;
    text-align: center;
    margin-top: 10px;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 600ms, visibility 600ms;
    transition: opacity 600ms, visibility 600ms;
}

.social-share-bar .speech-bubble {
    right: 52px;
    margin-top: 5px;
}

.speech-bubble:after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    margin-left: -7px;
    margin-top: -6px;
    border-bottom-color: #191919;
    border-top: 0;
}

.site-nav-right {
    display: flex !important;
    margin-left: 32px;
}

@media (max-width: 800px) {
    .full-date {
        font-size: 1.35rem !important;
    }
}

@media (max-width: 795px) {
    h1.post-card-title {
        font-size: 3.5rem;
    }
}

@media (max-width: 760px) {
    .site-footer-content {
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .footer-nav, .copyright {
        margin-top: 12px;
    }
}

@media (max-width: 700px) {
    .site-nav-right {
        margin-right: 16px;
    }
    .language-menu {
        padding-right: 30px;
    }
}

@media (max-width: 650px) {
    .social-share-bar .speech-bubble {
        right: 18px;
    }
    .progress-bar-title {
        display: none;
    }
    .progress-bar-container {
        padding-left: 0%;
        padding-right: 0%;
        justify-content: unset;
    }
    .progress-bar-link {
        margin-left: 20px;
    }
    .social-share-bar {
        margin-right: 15px;
        margin-left: auto;
    }
}

@media (max-width: 590px) {
    .site-nav {
        justify-content: center;
    }
}

@media (max-width: 500px) {
    .site-title {
        font-size: 3.8rem;
    }
    .language-menu {
        padding-right: 0px;
        justify-content: center;
    }
}